/* Цвет фона шапки #FFFFFF */
/* Цвет фона подвала #2F303A */
/* Основной цвет фона #E5E5E5 */
/* Вторичный цвет фона #F5F4FA */
/* Основной цвет #212121 */
/* Вторичный цвет #757575 */
/* Цвет акцента #2196F3 */
/* Цвет ссылок адресса rgba(255, 255, 255, 0.6); */
/* Белый цвет #FFFFFF */
/* Чёрный цвет #000000 */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.accent {
  color: var(--accent-colour);
}

.link:hover,
.link:focus {
  color: var(--accent-colour);
}

/* ======TEAM====== */

/* ======TEAM END====== */

.companies {
  padding-top: 5px;
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--work-list-set-gap));
  margin-left: calc(-1 * var(--work-list-set-gap));
}

.companies-icons {
  fill: var(--social-link-team-color);
  width: 106px;
  height: 60px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-link {
  border: 1px solid var(--social-link-team-color);
  border-radius: 4px;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 16px;
  padding-bottom: 16px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-link:hover,
.companies-link:focus {
  border: 1px solid var(--accent-colour);
  border-radius: 4px;
}

.companies-link:hover .companies-icons,
.companies-link:focus .companies-icons {
  fill: var(--accent-colour);
}

.companies-list-item {
  margin-top: var(--work-list-set-gap);
  margin-left: var(--work-list-set-gap);
  flex-basis: calc(100% / 6 - var(--work-list-set-gap));
}

/* ======PORTFOLIO BUTTON====== */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filt-button {
  color: var(--primary-text-color);
  background-color: var(--secondary-bgc);

  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;

  cursor: pointer;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filt-button-item:not(:first-child) {
  margin-left: 8px;
}

.filt-button:hover,
.filt-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-colour);
  color: var(--primary-white-color);
}

/* ======END PORTFOLIO BUTTON====== */

/* ======PORTFOLIO WORKS====== */

.work-list {
  margin: auto;
  margin-top: calc(-1 * var(--work-list-set-gap));
  margin-left: calc(-1 * var(--work-list-set-gap));
  display: flex;
  flex-wrap: wrap;
}

.work-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list .item {
  margin-top: var(--work-list-set-gap);
  margin-left: var(--work-list-set-gap);
  flex-basis: calc(100% / 3 - var(--work-list-set-gap));
}

.work-list .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0;
}

.work-list .text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  margin: 0;
}

.work-info {
  border: 1px solid #eeeeee;
  border-top: 1px solid rgba(255, 255, 255, 0);

  padding: 20px 24px;
}

.overlay-text {
  color: var(--primary-white-color);

  margin: 0;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.works-overlay {
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: var(--works-overlay-color);

  position: absolute;
  bottom: 0;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:focus .works-overlay,
.work-link:hover .works-overlay {
  transform: translateY(0);
}
/* ======END PORTFOLIO WORKS====== */

/* ======BACKDROP====== */

.backdrop {
  background-color: var(--backdrop-bg-color);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  background-color: var(--primary-white-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 580px;
}

.close-button {
  background-color: transparent;

  padding: 0;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button-icon {
  fill: var(--primary-black-color);

  width: 18px;
  height: 18px;

  margin-top: 6px;
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--accent-colour);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 12px;
}

.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-box {
  display: block;
  position: relative;
}

.input-form {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

.input-form:focus {
  border-color: var(--accent-colour);
}

.input-form:focus + .modal-form-icon {
  fill: var(--accent-colour);
}

.modal-form-label {
  color: var(--secondary-text-color);

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-textarea.input-form {
  resize: none;
  height: 120px;
  margin-top: 4px;
  padding-left: 16px;
}

.modal-textarea:focus {
  border-color: var(--accent-colour);
}

.checkbox-label {
  color: var(--secondary-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.03em;

  margin-top: 20px;
}

.checkbox-label::before {
  display: block;
  content: "";

  cursor: pointer;

  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .checkbox-label::before {
  border-color: transparent;
  background-color: var(--accent-colour);
  background-image: url(../images/bg-images/check-icon.svg);
  background-repeat: no-repeat;
}

.checkbox-icon {
  position: absolute;
  width: 11px;
  height: 8px;
  opacity: 0;
  
  transform: translateX(-50%);
}

.modal-form-link {
  color: var(--accent-colour);
}

.modal-form-submit {
  color: var(--primary-white-color);
  background-color: var(--accent-colour);

  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;


  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-secondary-color);
}
/* ======END BACKDROP====== */